In [ ]:
print("ok")

In [ ]:
for i in range(1,10):
  print(i)

In [ ]:
for i in range(1,5):
  print("parvej")

In [ ]:
a  = ("12345")
for i in a:
  print(a)

In [ ]:
for i in range(1,10):
  print(i,"parvej")

In [ ]:
for i in range(11,1,-1):
  print(i)

In [ ]:
for i in range(1,11,2):
  print(i)

In [ ]:
for i in [1,2,3,4]:
  print(i)

In [ ]:
for i in "parvej":
  print(i)

In [ ]:
# nested loops
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

In [ ]:
#loop coontrol statement

In [ ]:
# Break
for i in range(1,11):
  if i == 5:
    print(i)
    break

In [ ]:
name =["parvej","kajol","anamul","bappy","hridoy","ahsan habib"]

for i in name:
  if i == "hridoy":
    print(i)
    break

In [ ]:
#continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

In [ ]:
#pass
for i in range(1,10):
  pass
print("ok")

In [ ]:
if 5==5:
  pass

In [ ]:
#while loop

a = 0
while a < 10:
  a += 1
  print(a)

In [ ]:
b = 0
while b < 10:
  b += 1
  print("parvej")

In [ ]:
# program to print multiplication table

In [ ]:
number = int(input("enter your number: "))
a = 1
while a < 11:
  print(number, "*", a, "=",number*a)
  a += 1

In [ ]:
# while loops with else

a = 1

while a < 5:
  print(a)
  a += 1
else:
  print("programme executive")