In [ ]:
#print number from 1 to 20 using a for loops
for i in range(1,21):
  print(i)

In [ ]:
# print all even numbers between 1 and 50

for i in range(2,51,2):
  print(i)

In [ ]:
# print all even numbers between 1 and 50
for i in range(1,51):
  if i % 2 == 0:
    print(i)

In [ ]:
# calculate the sum of the numbers from 1 to 100

a = 0
for i in range(1,101):
  a += i
print(a)

In [ ]:
# print multiplication table of a given number(e.g.7)

number = int(input("Enter a number: "))
a = 1
while a < 11:
  print(number,"*", a, "=", number*a)
  a += 1

In [ ]:
# reverse a number using a for loop
example: 1234-4321

for i in range(4,0,-1):
  print(i)

In [ ]:
# find the factorial number 4

number = 4
a = 1

while number > 0:
  a *= number
  number -= 1
print(a)

In [ ]:
# check weather a number is prime using a loop in python

a = 29

if a > 1:
  for i in range(2,a):
    if a % i == 0:
      print(a, "is not a prime number")
      break
  else:
    print(a, "is a prime number")
else:
  print(a, "is not a prime number")